.idea/
.venv/
.vscode/
.env
.env.*
.*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.so

# library files
*.egg-info/

# pytest files
.coverage

# pip
pip-log.txt
pip-delete-this-directory.txt

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# pre_tex
tmp/

# tex
*.acn
*.acr
*.alg
*.app
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.toc
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.out
*.pdf
*.slg
*.slo
*.sls
*.swp
*.run.xml
*.synctex.gz
*.synctex(busy)
_minted-*/
